/* General Styles */

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-image: linear-gradient(180deg, #45b8ee, #186fac);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */

header {
    margin: 6rem 0;
}

h1 {
    font-weight: 900;
    font-size: 7rem;
    text-transform: uppercase;
    /*text-shadow: 5px 3px 1px rgba(57,87,116,0.5);*/
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

header p {
    font-size: 1.5rem;
}

/* Main Styles */

/* Form */

.formItems {
    display: flex;
    align-content: center;
    justify-content: center;
}

input,
button {
    height: 50px;
    border: none;
    border-radius: 8px;
}

input {
    width: 600px;
    font-size: 1.1rem;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 5px -2px rgba(0,0,0,0.15);
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+, IE 10-11, Edge */
    color: #cecece;
    letter-spacing: 1px;
    /* Firefox */
    opacity: 1;
}


button {
    background-color: #344c63;
    min-width: 70px;
    font-size: 1.75rem;
    color: #cecece;
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #395774;
}

/* Screen Reader Styles */

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Media Queries */

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    header {
        margin: 1rem 0;
    }

    h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.1rem;
    }
    
    .formItems {
        padding: 0 20px;
    }
}

/* 
header {
    background-color: #2f2f2f;
    color: #fff;
    font-size: 2rem;
    padding: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
}


form {
    margin-top: 20px;
}

form div {
    margin-top: 10px;
}

input {
    height: 20px;
}

button {
    background-color: #ee5353;
    color: #fff;
    border: 1px solid #ee5353;
    padding: 4px 10px;
}

.noResults {
    font-size: 2rem;
    font-size: bold;
    margin-top: 20px;
}

.symbolInfo {
    margin-top: 20px;
}

.symbolInfo h2 {
    margin-bottom: 10px;
}

.symbol {
    font-size: 3rem;
    font-weight: bold;
    margin-right: 5px;
}

.price {
    font-style: italic;
    font-size: 1.75rem;
    color: #797979;
}

.lineTwo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #df8014;
    margin-bottom: 5px;
}

.lineThree {
    font-size: 1.2rem;
}

.close {
    font-weight: bold;
    color: #3073df;
}

.change {
    font-weight: bold;
    color:  #df8014;
}

.change-per {
    font-style: italic;
    font-weight: bold;
    color: #797979;
} */
