/* General Styles */

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-image: linear-gradient(180deg, #45b8ee, #186fac);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */

header {
    margin: 6rem 0;
}

h1 {
    font-weight: 900;
    font-size: 7rem;
    text-transform: uppercase;
    /*text-shadow: 5px 3px 1px rgba(57,87,116,0.5);*/
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

header p {
    font-size: 1.5rem;
}

/* Main Styles */

/* Form */

.formItems {
    display: flex;
    align-content: center;
    justify-content: center;
}

input,
button {
    height: 50px;
    border: none;
    border-radius: 8px;
}

input {
    width: 600px;
    font-size: 1.1rem;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+*/
    color: #cecece;
    letter-spacing: 1px;
    /* Firefox */
    opacity: 1;
}

/* IE 10-11 & Edge */

:-ms-input-placeholder {
    color: #cecece;
    letter-spacing: 1px;
}

::-ms-input-placeholder {
    color: #cecece;
    letter-spacing: 1px;
}

button {
    background-color: #344c63;
    min-width: 70px;
    font-size: 1.75rem;
    color: #cecece;
    margin-left: 10px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #395774;
}

/* Screen Reader Styles */

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Search Results */

aside {
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 5px -2px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

.noResults,
.symbolInfo {
    padding: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* No results */

.noResults p {
    color: #adadad;
    font-size: 1.4rem;
}

/* Symbol Information */

/* Top Section */

.topInfo {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.symbol {
    font-size: 6rem;
    font-weight: 700;
    color: #344c63;
}

.divider {
    height: 90px;
    width: 1px;
    background-color: #cecece;
}

.sectionOne {
    margin: auto 0;
}

.sectionOne p:first-child {
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    color: #828282;
}

.sectionOne > p + p {
    color: #cecece;
    font-style: none;
    font-size: 1.5rem;
    margin-top: 5px;
}

/* Bottom Section */

.sectionTwo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
}

.sectionTwo div {
    border-radius: 8px;
    background-color: grey;
    min-height: 150px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sectionTwo div:first-child {
    background-color: #9ddadf;
    transition: 0.5s;
}

.sectionTwo div:first-child:hover {
    background-color: #8bdbe2;
}

.sectionTwo div:nth-child(2) {
    background-color: #fac082;
    transition: 0.5s;
}

.sectionTwo div:nth-child(2):hover {
    background-color: #ffb96f;
}

.sectionTwo div:last-child {
    background-color: #96dfaa;
    transition: 0.5s;
}

.sectionTwo div:last-child:hover {
    background-color: #7fde99;
}

.sectionTwo div:nth-child(2),
.sectionTwo div:nth-child(3) {
    margin-left: 10px;
}

.sectionTwo > div > p:first-child {
    font-weight: 900;
    font-size: 2.75rem;
    flex: 1;
    margin-bottom: 20px;
}

.sectionTwo > div > p:last-child {
    font-size: 1.5rem;
}

/* Media Queries */

@media (max-width: 960px) {

    header,
    .noResults,
    .symbolInfo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .noResults,
    .symbolInfo {
        width: auto;
    }
}

@media (max-width: 776px) {

    body {
        overflow-y: scroll;
    }

    header {
        margin: 2rem 0;
    }

    h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.1rem;
    }
    
    main {
        padding-bottom: 2rem;
    }
    
    aside {
        margin-top: 1rem;
    }

    .formItems {
        padding: 0 20px;
    }

    .divider {
        display: none;
    }

    .sectionTwo {
        flex-direction: column;
    }

    .topInfo {
        flex-wrap: wrap;
    }

    .sectionTwo div:nth-child(2),
    .sectionTwo div:nth-child(3) {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .sectionTwo div {
        align-content: center;
        align-items: center;
    }

    .sectionTwo > div > p:last-child {
        flex: 1;
    }
}